/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.img{
	width:200px;
	height:200px;
	object-fit:cover;
}
.item{
	padding:20px;
}

button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
	
}
a{
	text-decoration: none;
	color:white;
}